body{
  background-image:url("https://cdn.dribbble.com/userupload/10090129/file/original-4a9356dc6fa84c62947182c21f71f7d3.jpg");
  background-size:100%;
}

@keyframes movealittle {
  100%{
    transform:rotate(30deg);
  }
}
#eggs{
  animation-name:movealittle;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  width:192px;
  height:117px;
  position:absolute;
  top:380px;
  left:95px;
  background-image:url("https://cdn.statefoodsafety.com/blog/2014/04/fs_56_05c_02_egg_carton_24_600x-compressor.png");
  background-size:contain;
  background-repeat:no-repeat;
}
@keyframes moveright {
  
  90%{
    opacity:1;
  }
  100%{
    opacity:0;
    transform:translateX(400px);
  }
}
#grandmacookin{
  animation-name:moveright;
  animation-duration:5s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  position:absolute;
  top:50px;
  left:-400px;
}

@keyframes fadein {
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}
#facingback{
  opacity:0;
  animation-name:fadein;
  animation-duration:1s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
  animation-delay:4.5s;
}

#storytext{
  width:870px;
  height:50px;
  position:absolute;
  top:10px;
  left:9px;
  font-size:2rem;
  background-color:white;
}

#next{
  position:absolute;
  top:65px;
  left:10px;
  width:350px;
  height:30px;
  font-size:1rem;
}
#previous{
  position:absolute;
  top:65px;
  left:370px;
  width:350px;
  height:30px;
  font-size:1rem;
}
#next:active{
  width:360px;
  height:40px;
  color:red;
  background-color:white;
}
#previous:active{
  width:360px;
  height:40px;
  color:red;
  background-color:white;
}