body{
  background-image:url("https://cdn.dribbble.com/userupload/10090129/file/original-4a9356dc6fa84c62947182c21f71f7d3.jpg");
  background-size:100%;
}
@keyframes moveright {
  100%{
    transform:translateX(400px);
  }
}
#granny{
  animation-name:moveright;
  animation-duration:10s;
  animation-iteration-count:1;
  position:absolute;
  top:235px;
  right:460px;
  z-index:2;
  animation-fill-mode:forwards;
}

#storytext{
  font-size:50px;
  width:100%;
  position:absolute;
  left:5px;
  top:5px;
  background-color:white;
}
@keyframes movealittle {
  100%{
    transform:rotate(30deg);
  }
}
#eggs{
  animation-name:movealittle;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-direction:alternate;
  width:192px;
  height:117px;
  position:absolute;
  top:380px;
  left:95px;
  background-image:url("https://cdn.statefoodsafety.com/blog/2014/04/fs_56_05c_02_egg_carton_24_600x-compressor.png");
  background-size:contain;
  background-repeat:no-repeat;
}
#next{
  position:absolute;
  top:130px;
  left:10px;
  width:350px;
  height:30px;
  font-size:1rem;
}
#previous{
  position:absolute;
  top:130px;
  left:370px;
  width:350px;
  height:30px;
  font-size:1rem;
}
#next:active{
  width:360px;
  height:40px;
  color:red;
  background-color:white;
}
#previous:active{
  width:360px;
  height:40px;
  color:red;
  background-color:white;
}